name: Cleaning Control Bot

on:
  schedule:
    - cron: '0 7 * * *'   # 09:00 за Києвом
    - cron: '0 10 * * *'  # 12:00 за Києвом
    - cron: '0 21 * * *'  # 23:00 за Києвом
  workflow_dispatch:

permissions:
  contents: write  # ДОДАЙТЕ ЦЕЙ РЯДОК

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # Додано для стабільності
# ... далі весь інший код без змін ...
