name: Cleaning Control Bot

on:
  schedule:
    - cron: '0 7 * * *'   # 09:00 за Києвом
    - cron: '0 10 * * *'  # 12:00 за Києвом
    - cron: '0 21 * * *'  # 23:00 за Києвом
  workflow_dispatch:      # Кнопка ручного запуску

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install pyTelegramBotAPI pytz

      - name: Run Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          THREAD_ID: ${{ secrets.THREAD_ID }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
        run: python bot.py

      - name: Save History
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "CleaningBot"
          git add history.json
          git commit -m "update history" || echo "No changes"
          git push
